@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-1Thin.woff2') format('woff2'),
        url('../font/Freesentation-1Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-2ExtraLight.woff2') format('woff2'),
        url('../font/Freesentation-2ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-3Light.woff2') format('woff2'),
        url('../font/Freesentation-3Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-4Regular.woff2') format('woff2'),
        url('../font/Freesentation-4Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-5Medium.woff2') format('woff2'),
        url('../font/Freesentation-5Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-6SemiBold.woff2') format('woff2'),
        url('../font/Freesentation-6SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-7Bold.woff2') format('woff2'),
        url('../font/Freesentation-7Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-8ExtraBold.woff2') format('woff2'),
        url('../font/Freesentation-8ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: '../font/Freesentation';
    src: url('../font/Freesentation-9Black.woff2') format('woff2'),
        url('../font/Freesentation-9Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

